# Tool Artifacts
*.xpr
.project
.settings
.classpath
/*/**/.gitignore


# Ephemeral
temp/
dist/
data/
archive/
resources/
json-in-xproc/
output/
**/*.bak
*-result.html

# Environment-specific
*.catalog.xml