# Tool Artifacts
*.xpr
.project
.settings
.classpath
/*/**/.gitignore

# Ephemeral
temp/
temp.*
dist/
archive/
resources/
json-in-xproc/
output/
**/*.bak
*-result.html

# Environment-specific
*.catalog.xml