/**********
 * Event Profile: Body
 */


.body-matter {
    background-color: beige;
    margin: 1em 1em 1em 0;
    padding: 1em;
}

.body-matter div.event {
    margin-top: 0;
    margin-bottom: 0;
}

/* End of Event Profile: Body */

/**********
 * Event Index: Timeline
 */

.event .index .timeline {
    margin: 0;
    padding: 0;   
    clear: both;
    background-image: url('../images/single_black_pixel.png');
    background-repeat: repeat-y;
    background-position: center;
}

.event .index .timeline .event {
    margin: 0;
    padding: 0;
    min-height: 2em;
    width: 50%;
}

.event .index .timeline .even {
    float: right;
    margin-top: -4em;
}

.event .index .timeline .even {
    grid-template-columns: auto 2.75em;
    grid-template-rows: auto;
}

.event .index .timeline div.event .content {
    margin-left: 0;
}

.event .index .timeline .heading {
    border-bottom: 1px solid black;
}

.event .index .even .heading,
.event .index .even .summary {
    text-align: right;
}

.event .index .timeline .event .icon {
    padding-top: .25em;
}

.event .index .timeline .event .icon .glyph {
    display: block;
    width: 1em;
    height: 1em;
    border: 1px solid black;
    border-radius: 50%;
    padding: .1em;
    
}

.event .index .timeline .heading,
.event .index .timeline .summary {
    padding: 0.5em 1em
    
}

.event .index .timeline .heading .unknown {
    opacity: 0; 
}