/**********
 * Event Profile: Body
 */


.body-matter {
    background-color: beige;
    margin: 1em 1em 1em 0;
    padding: 1em;
}

.body-matter div.event {
    margin-top: 0;
    margin-bottom: 0;
}

/* End of Event Profile: Body */