xquery version "3.0";

import module namespace action = "http://ns.thecodeyard.co.uk/xquery/modules/action" at "/db/apps/sapling-test/modules/action.xq";

declare namespace request="http://exist-db.org/xquery/request";

declare option exist:serialize "method=xhtml media-type=text/html indent=yes encoding=utf-8";


let $path := string(request:get-parameter("path", "/"))
let $request-id := string(request:get-parameter("id", ""))

let $parameters := 
	<parameters />

return action:request-html($path, $request-id, $parameters)